﻿@model PLFrontEnd.Models.Models.CompleteHomeObject

<style>
</style>

<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div style="position:relative; left:80px;top:50px;">
        <div class="row">
            <p>
                <h1>Premier League tipzters!</h1>
            </p>
        </div>
        <div class="row" style="width:400px;">
            <table class="table table-sm table-hover table-dark">
                <thead>
                    <tr align="right">
                        <th>
                            Stefan
                        </th>
                        <th>
                            Edward
                        </th>
                        <th>
                            André
                        </th>
                        <th>
                            Anthonio
                        </th>
                        <th>
                            Fredric
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr align="right">
                        @foreach (var item in Model.ProfitCalculation)
                        {
                            string toolTipsText = "<div class='text-justify' style:'width:300px'>Activities:<br />";
                            int sum = item.Value.Sum(x => x.Item2);

                            foreach (var subItem in item.Value)
                            {
                                toolTipsText += "<br /> " + subItem.Item1 + " , " + subItem.Item2 + " Kr";
                            }

                            toolTipsText += "</div>";

                            string color = "White";
                            @if (sum > 0)
                            {
                                color = "Green";
                            }

                            @if (sum < 0)
                            {
                                color = "Red";
                            }

                            <td style="color:@(color);font-weight:bold" data-toggle="tooltip" data-placement="bottom" data-html="true" data-container="body" title="@toolTipsText">
                                @sum Kr
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseTable" aria-expanded="false" aria-controls="collapseExample">
                Visa Premier League Tabell
            </button>
        </div>
        <div class="collapse" id="collapseTable">
            <div class="row" style="width:1350px;overflow-x:hidden;">
                <div class="col-xs-1">
                    <table class="table table-sm" id="PLTable" style="width:400px;">
                        <thead>
                            <tr>
                                <th align="left">
                                    @Html.DisplayNameFor(model => model.GameweekTable.Table.FirstOrDefault().Position)
                                </th>
                                <th align="left">
                                    @Html.DisplayNameFor(model => model.GameweekTable.Table.FirstOrDefault().TeamName)
                                </th>
                                <th align="left">
                                    @Html.DisplayNameFor(model => model.GameweekTable.Table.FirstOrDefault().PlayedMatches)
                                </th>
                                <th align="left">
                                    @Html.DisplayNameFor(model => model.GameweekTable.Table.FirstOrDefault().Points)
                                </th>
                            </tr>
                        </thead>

                        <tbody id="prospectTable">
                            @foreach (var item in Model.GameweekTable.Table)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Position)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TeamName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PlayedMatches)
                                    </td>
                                    <td style="width:10%">
                                        @Html.DisplayFor(modelItem => item.Points)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-1 col-md-offset-1">
                    @*Wierd hack for space?*@
                </div>
                @for (int i = 0; i < Model.TableModel.Count; i++)
                {
                    <div class="col-xs-2 col-xs-offset-2">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th align="left">
                                        @Html.DisplayFor(model => model.TableModel[i].PlayerName)
                                    </th>
                                </tr>
                            </thead>

                            <tbody id="prospectTable">
                                @foreach (string item in Model.TableModel[i].Table)
                                {
                                    string bgColor = "White";
                                    int index = Model.TableModel[i].Table.IndexOf(item);

                                    if (Model.GameweekTable.Table[index].TeamName == item)
                                    {
                                        bgColor = "aquamarine";
                                    }
                                    else
                                    {
                                        if (index - 1 >= 0)
                                        {
                                            if (Model.GameweekTable.Table[index - 1].TeamName == item)
                                            {
                                                bgColor = "antiquewhite";
                                            }
                                        }

                                        if (index + 1 <= 19)
                                        {
                                            if (Model.GameweekTable.Table[index + 1].TeamName == item)
                                            {
                                                bgColor = "antiquewhite";
                                            }
                                        }
                                    }
                                    <tr>
                                        <td style="background-color:@(bgColor)">
                                            @Html.DisplayFor(modelItem => item)
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td>
                                        Totalt:
                                        @Model.PointResult.Find(x => x.Item1 == Model.TableModel[i].PlayerName).Item2
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <p>

            </p>
        </div>
        <div class="row">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFantasy" aria-expanded="false" aria-controls="collapseExample">
                Visa Premier League Fantasy
            </button>
        </div>
        <div class="collapse" id="collapseFantasy">
            <div class="row" style="width:750px">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th align="left" width="5%">
                                @Html.DisplayNameFor(model => model.FantasyStanding.standings.results.FirstOrDefault().Rank)
                            </th>
                            <th align="left" width="15%">
                                @Html.DisplayNameFor(model => model.FantasyStanding.standings.results.FirstOrDefault().Last_rank)
                            </th>
                            <th align="left" width="30%">
                                @Html.DisplayNameFor(model => model.FantasyStanding.standings.results.FirstOrDefault().Player_name)
                            </th>
                            <th align="left" width="30%">
                                @Html.DisplayNameFor(model => model.FantasyStanding.standings.results.FirstOrDefault().Entry_name)
                            </th>
                            <th align="left" width="15%">
                                @Html.DisplayNameFor(model => model.FantasyStanding.standings.results.FirstOrDefault().Event_total)
                            </th>
                            <th align="left" width="5%">
                                @Html.DisplayNameFor(model => model.FantasyStanding.standings.results.FirstOrDefault().Total)
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.FantasyStanding.standings.results)
                        {
                            string color = "Black";
                            @if (item.Rank > item.Last_rank)
                            {
                                color = "Green";
                            }

                            @if (item.Rank < item.Last_rank)
                            {
                                color = "Red";
                            }

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rank)
                                </td>

                                <td style="color:@(color)">
                                    @Html.DisplayFor(modelItem => item.Last_rank)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Player_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Entry_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Event_total)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <p>

            </p>
        </div>
        <div class="row">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCement" aria-expanded="false" aria-controls="collapseExample">
                Visa Premier League Cement
            </button>
        </div>
        <div class="collapse" id="collapseCement">
            <div class="row" style="width:750px">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th align="left">
                                @Html.DisplayFor(model => model.CementStanding[0].Item1)
                            </th>
                            <th align="left" width="5%">
                                Points
                            </th>
                            <th align="left">
                                @Html.DisplayFor(model => model.CementStanding[1].Item1)
                            </th>
                            <th align="left" width="5%">
                                Points
                            </th>
                            <th align="left">
                                @Html.DisplayFor(model => model.CementStanding[2].Item1)
                            </th>
                            <th align="left" width="5%">
                                Points
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (int i = 0; i < 11; i++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.CementStanding[0].Item2[i].web_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.CementStanding[0].Item2[i].total_points)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.CementStanding[1].Item2[i].web_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.CementStanding[1].Item2[i].total_points)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.CementStanding[2].Item2[i].web_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.CementStanding[2].Item2[i].total_points)
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                Total:
                            </td>
                            <td>
                                @Model.CementStanding[0].Item2.Sum(p => p.total_points)
                            </td>
                            <td>
                                Total:
                            </td>
                            <td>
                                @Model.CementStanding[1].Item2.Sum(p => p.total_points)
                            </td>
                            <td>
                                Total:
                            </td>
                            <td>
                                @Model.CementStanding[2].Item2.Sum(p => p.total_points)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>
